[Unit]
Description=Write safe default monitor config for Hyprland
Before=graphical-session-pre.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/cp -f %h/.config/hypr/monitors-default.lua %h/.config/hypr/monitors.lua

[Install]
WantedBy=graphical-session-pre.target
