[Unit]
Description=Solaar
PartOf=graphical-session.target
After=graphical-session.target dms.service
Requisite=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/solaar -w hide
Restart=on-failure
RestartSec=2

[Install]
WantedBy=graphical-session.target
