#!/usr/bin/env bash

# hash: {{ include "etc/nftables.conf" | sha256sum }}

set -euo pipefail

CHEZMOI_SOURCE="${HOME}/.local/share/chezmoi"
SRC="${CHEZMOI_SOURCE}/etc/nftables.conf"
DST="/etc/nftables.conf"

if [[ -f "$SRC" ]]; then
    echo "Installing $DST..."
    sudo install -D -m 0755 "$SRC" "$DST"
fi
