#!/usr/bin/env bash

# hash: {{ include "usr/lib/systemd/system-sleep/thinkpad-leds" | sha256sum }}

set -euo pipefail

CHEZMOI_SOURCE="${HOME}/.local/share/chezmoi"
SRC="${CHEZMOI_SOURCE}/usr/lib/systemd/system-sleep/thinkpad-leds"
DST="/usr/lib/systemd/system-sleep/thinkpad-leds"

if [[ -f "$SRC" ]]; then
    echo "Installing $DST..."
    sudo install -D -m 0755 "$SRC" "$DST"
fi
