[Desktop Entry]
Name=Android Emulator
GenericName=Android Emulator
Comment=Run Android Emulator
Exec=$HOME/.Android/Sdk/emulator/emulator -avd Pixel_emulator -no-metrics
Icon=android-studio
Type=Application
Terminal=false
Categories=Development;Emulator;
StartupNotify=true
StartupWMClass=Emulator
