[Desktop Entry]
Name=TryHackMe Terminal
GenericName=TryHackMe Terminal
Comment=Run TryHackMe Terminal
Exec=kitty --session ~/Nextcloud/Documents/IT/TryHackMe/thm.kitty-session
Icon=/home/ismd/.local/share/icons/tryhackme.svg
Type=Application
Terminal=false
Categories=System;TerminalEmulator;Security;
StartupNotify=true
StartupWMClass=kitty
